@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: black;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 30vh;
}
h2 {
	padding: 2rem;
}
#logo {
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(37, 71, 151);
}
.search-form {
	display: flex;
}
.search-form input {
	font-size: 1rem;
	padding: 0.8rem;
	width: 100%;
	border: 2px solid rgb(37, 71, 151);
}
.search-form button {
	padding: 0.8rem;
	font-size: 1rem;
	border: none;
	background: rgb(37, 71, 151);
	color: white;
	cursor: pointer;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin: 2rem auto;
	width: 90%;
}
.gallery-img {
	padding: 2rem;
}
.gallery-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-info {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: 300;
	padding: 0.5rem;
	color: gray;
}
.gallery-info a {
	color: gray;
}
.nav-btn {
	display: flex;
	justify-content: center;
	margin: 5rem 0rem 3rem;
}
.more {
	padding: 0.8rem 2rem;
	font-size: 1.2rem;
	font-weight: 800;
	border: none;
	background: rgb(37, 71, 151);
	color: white;
	cursor: pointer;
}
